.cart-item {
  width: 90%;
  background-color: #ffffff;
  margin: auto;
}

.cart-image {
  width: 30px;
  height: 30px;
  margin: 0px 10px;
}

.cart-title {
  padding: 10px 10px 10px 20px;
}

i.remove-item {
  float: right;
  margin: 10px 20px;
  font-style: normal;
  cursor: pointer;
}

.cart-item-price {
  font-size: 15px;
}

.quantity-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
