body {
  margin: 0;
}

.wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: beige;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 50%;
  }

  .cart {
    width: 80%;
  }
}
